aenum==3.1.17
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
alembic==1.8.1
amqp==5.1.1
appdirs==1.4.4
attrs==22.1.0
autopage==0.5.1
babel==2.10.3
bcrypt==4.0.0
build==1.3.0
cachetools==7.1.8
certifi==2026.7.22
cffi==1.17.1
charset-normalizer==2.1.1
cliff==4.2.0
cmd2==2.4.2
coverage==7.16.1
debtcollector==3.0.0
decorator==5.3.1
dill==0.4.1
dnspython==2.2.1
dogpile-cache==1.1.8
dpkt==1.9.8
eventlet==0.36.1
execnet==1.9.0
fasteners==0.18
fixtures==4.2.5
frozenlist==1.8.0
futurist==2.4.1
greenlet==3.1.1
idna==3.4
importlib-metadata==8.5.0 ; python_version >= "3.10"
iniconfig==1.1.1
iso8601==1.1.0
jinja2==3.1.6
jmespath==1.0.1
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.16.0
keystoneauth1==5.1.3
kombu==5.3.7
logutils==0.3.5
lxml==5.3.0
mako==1.2.3
markupsafe==3.0.3
metalsmith==1.10.1
msgpack==1.0.4
multidict==6.8.0
ncclient==0.6.19
netaddr==1.3.0
netifaces==0.11.0
neutron-lib==3.20.0
openshift-client==2.0.5
openstacksdk==1.0.2
os-client-config==2.1.0
os-ken==2.6.1
os-service-types==1.7.0
os-traits==3.4.0 ; python_version >= "3.9"
osc-lib==2.7.0
oslo-concurrency==7.1.0
oslo-config==10.0.0
oslo-context==6.0.0
oslo-db==17.3.0
oslo-i18n==6.5.1
oslo-log==7.2.0
oslo-messaging==17.0.0
oslo-metrics==0.12.0
oslo-middleware==6.6.0
oslo-policy==4.5.1
oslo-serialization==5.7.0
oslo-service==4.2.2
oslo-utils==9.0.0
oslo-versionedobjects==3.7.0
osprofiler==4.3.0
ovs==2.17.7
packaging==23.1
paramiko==2.11.0
paste==3.5.2
pastedeploy==2.1.1
pbr==6.1.1
pecan==1.4.2
pluggy==1.6.0
podman==4.7.0
prettytable==3.17.0
prometheus-client==0.14.1
propcache==0.5.2
psutil==5.9.2
pycparser==2.21
pynacl==1.5.0
pyopenssl==22.1.0
pyparsing==3.0.9
pyperclip==1.8.2
pyproject-hooks==1.2.0
pyrsistent==0.20.0
pytest==8.3.5
pytest-cov==7.1.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-reportportal==5.4.5
pytest-rerunfailures==15.1
pytest-subtests==0.15.0
pytest-timeout==2.4.0
pytest-xdist==3.5.0
python-cinderclient==9.3.0
python-dateutil==2.9.0.post0
python-designateclient==5.2.0
python-glanceclient==4.3.2
python-heatclient==3.2.0
python-ironicclient==5.1.0
python-keystoneclient==5.1.0
python-manilaclient==4.5.1
python-neutronclient==9.0.0
python-novaclient==18.3.0
python-octaviaclient==3.4.0
python-openstackclient==6.2.1
python-swiftclient==4.2.0
pytz==2022.4
pyxdg==0.28
pyyaml==6.0.1
reportportal-client==5.5.9
repoze-lru==0.7
requests==2.28.1
requestsexceptions==1.4.0
rfc3986==1.5.0
routes==2.5.1
setproctitle==1.3.2
simplejson==3.17.6
six==1.16.0
sortedcontainers==2.4.0
sqlalchemy==1.4.41
sshtunnel==0.4.0
statsd==3.3.0
stevedore==5.4.0 ; python_version >= "3.12"
testresources==2.0.1
testscenarios==0.5.0
testtools==2.7.2
typing-extensions==4.12.2
tzdata==2024.2
urllib3==1.26.12
vine==5.0.0
warlock==2.0.1
wcwidth==0.2.5
webob==1.8.9
wrapt==1.14.1
yappi==1.6.10
yarl==1.24.5
zipp==4.1.0

# The following packages are considered to be unsafe in a requirements file:
setuptools==76.1.0 ; python_version > "3.9"
