alembic==1.18.5
amqp==5.3.1
anyio==4.14.1
attrs==26.1.0
autopage==0.6.0
babel==2.18.0
barbican-tempest-plugin==4.5.0
bcrypt==5.0.0
cachetools==7.1.4
certifi==2026.7.22
cffi==2.0.0
charset-normalizer==3.4.7
cliff==4.15.0
cmd2==4.0.0
colorama==0.4.6
ddt==1.7.2
debtcollector==3.1.0
decorator==5.3.1
defusedxml==0.7.1
dnspython==2.8.0
dogpile-cache==1.5.0
eventlet==0.41.0
fasteners==0.20
fixtures==4.3.2
futurist==3.4.0
gabbi==4.2.0
gnocchiclient==7.2.0
greenlet==3.5.3
h11==0.16.0
h2==4.3.0
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
iniconfig==2.3.0
invoke==3.0.3
iso8601==2.1.0
jinja2==3.1.6
jmespath==1.1.0
jsonpatch==1.33
jsonpath-ng==1.8.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
junitxml==0.7
keystoneauth1==5.15.0
kombu==5.6.2
lxml==6.1.1
mako==1.3.12
markdown-it-py==4.2.0
markupsafe==3.0.3
mdurl==0.1.2
msgpack==1.2.1
ncclient==0.7.1
netaddr==1.3.0
neutron-lib==4.2.0
openstacksdk==4.18.0
os-collect-config==14.0.1
os-ken==4.2.1
os-service-types==1.9.0
os-testr==3.0.0
os-traits==3.8.0
osc-lib==4.7.0
oslo-concurrency==7.6.1
oslo-config==10.7.0
oslo-context==6.5.0
oslo-db==18.1.0
oslo-i18n==6.9.0
oslo-log==8.3.0
oslo-messaging==18.2.0
oslo-metrics==0.16.0
oslo-middleware==8.2.0
oslo-policy==6.0.0
oslo-serialization==5.11.0
oslo-service==4.8.0
oslo-utils==10.1.1
oslo-versionedobjects==3.11.0
oslotest==6.1.1
osprofiler==4.4.0
ovs==3.7.1
ovsdbapp==2.18.0
packaging==26.2
paramiko==4.0.0
paste==3.10.1
pastedeploy==3.1.0
pbr==7.0.3
pecan==1.8.0
platformdirs==4.10.0
pluggy==1.6.0
prettytable==3.18.0
prometheus-client==0.25.0
prompt-toolkit==3.0.52
psutil==7.2.2
pycparser==3.0
pygments==2.20.0
pynacl==1.6.2
pyopenssl==24.2.1
pyparsing==3.3.2
pyperclip==1.11.0
pytest==9.0.3
python-barbicanclient==7.5.0
python-cinderclient==9.9.0
python-dateutil==2.9.0.post0
python-heatclient==5.2.0
python-keystoneclient==5.8.0
python-manilaclient==6.2.0
python-neutronclient==13.0.0
python-novaclient==18.13.0
python-openstackclient==10.2.1
python-subunit==1.4.6
python-swiftclient==4.10.0
python-zaqarclient==4.6.0
pyyaml==6.0.3
referencing==0.37.0
repoze-lru==0.8
requests==2.34.2
rfc3986==2.0.0
rich==15.0.0
rich-argparse==1.8.0
routes==2.5.1
rpds-py==2026.5.1
setproctitle==1.3.7
six==1.17.0
sortedcontainers==2.4.0
sqlalchemy==2.0.51
statsd==4.0.1
stestr==4.2.1
stevedore==5.9.0
tempest==46.3.0
tenacity==9.1.4
testresources==2.1.2
testscenarios==0.6.2
testtools==2.9.1
tomlkit==0.15.0
typing-extensions==4.15.0
tzdata==2026.2
ujson==5.13.0
urllib3==2.7.0
vine==5.1.0
voluptuous==0.16.0
wcwidth==0.8.1
webob==1.8.10
wheel==0.48.0
wrapt==2.2.2
yappi==1.7.6

# The following packages are considered to be unsafe in a requirements file:
setuptools==84.0.0
